#This file is used by pip to install required python packages
# Usage: pip install -r requirements.txt

# Flask Framework
Flask==2.3.2

# Flask Packages
Flask-Login==0.4.0
requests==2.20.0
jsonify==0.5
#opencv-python
#sysos
#re


# Automated tests
pytest==3.0.5
pytest-cov==2.4.0